# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock backup
.terraform.lock.hcl

# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Zip artifacts
*.zip